aiofiles
aiohttp
beautifulsoup4
cfscrape
cryptg
emoji
googletrans
google_images_download
google-api-python-client
google_auth_oauthlib
gsearch>=1.6.0
gtts
hachoir
Pillow
psycopg2
python-magic
regex
requests
PyGithub
speedtest-cli
sqlalchemy
telegraph
urbandict
wikipedia
youtube-dl
git+https://github.com/ahupp/python-magic
